/* This is a comment in css */


/* 
    Select all <p> tags, also h1 tags
    Every CSS Property : Value should be followed by a semi-colon
*/

p,h1 {
    color: blue;
}

body {
    margin: 0;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1714547509046-0cf60126f331?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-position: center;
    background-size: cover;

}
